
.img-contact{
    width: 100%;
    margin-bottom: 30px;
    margin-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    
}

.contact {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 20px;
    margin-right: 20px;
    margin-left: 20px;
    
    
}
.btn{
    margin-top: 20px;
}