.myBtn{
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.input-group.md-form.form-sm.form-1 input {
    border: 1px solid #bdbdbd;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }

  .searchResult{
      font-size: 22px;
      font-weight: bold;
  }