.myBtn{
    margin-top: 0px;
}

.searchInput{
    margin-top: 40px;
}
.jumbotron {
   background-color: whitesmoke;
   margin-left: 22px;
   margin-right: 22px;
   margin-top: 33px;
   margin-bottom: 33px;
}
.removeBtn{
    margin-top: 20px;
    margin-bottom: 20px;
}
