.imgInfo{
    width: 100%;
    height: 100%;
}


.info{
/*     background-image: url(./imgSem04.jpg);
 */    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}