
.App {
  text-align: center; 
  
  justify-items: center;
}

 p {
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn{
border-radius: 220px;
color: rgb(255, 255, 255);
font-style: italic;
font-weight: bold;

}
.navbar-brand{
  font-size: 25px;
  font-weight: bold;
}
.myNav{
  font-size: 22px;
}
.nav-item{
  font-size: 22px;
}

.list-group{
  font-weight: bold;
}